<a href="https://colab.research.google.com/github/x94173000/titanic-analysis/blob/main/%E9%90%B5%E9%81%94%E5%B0%BC%E8%99%9F%E5%AD%98%E6%B4%BB%E9%A0%90%E6%B8%AC(03)__%E9%81%8B%E7%94%A8%E8%B3%87%E6%96%99%E8%88%87%E7%89%B9%E5%BE%B5%E5%84%AA%E5%8C%96%E5%88%86%E6%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.請問資料中有哪些「欄位」你覺得是多餘的，在分析過程中應該被排除的呢？為什麼？**

PassengerId, Name, Ticket,這些變數每個人的值都不一樣，因此對模型的幫助不大；Cabin則可以透過Pclass、Embarked來表示

**2.針對「有缺失值」的欄位，嘗試不同的處理策略（例如：常數、中位數、平均數填補）比較結果。**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
df = pd.read_csv('https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv')

In [ ]:
# 檢查缺失值
print("缺失值概況：")
print(df.isnull().sum())

缺失值概況：
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#填補
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Embarked'] =df['Embarked'].fillna(df['Embarked'].mode().iloc[0])

**3.針對「非數值型」的欄位，嘗試不同的處理策略（例如：LabelEncoder 或 OneHotEncoder）比較結果。**

In [ ]:
#找出非數值型欄位
non_numeric_columns = df.select_dtypes(exclude=['number']).columns
print(non_numeric_columns)

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
#Sex
df = pd.get_dummies(df, columns=['Sex'])
#Embarked
df['Embarked_labelencoded'] = label_encoder.fit_transform(df['Embarked'])

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Embarked_labelencoded
0,1,0,3,"Braund, Mr. Owen Harris",22.000000,1,0,A/5 21171,7.2500,NaN,S,False,True,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.000000,1,0,PC 17599,71.2833,C85,C,True,False,0
2,3,1,3,"Heikkinen, Miss. Laina",26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,True,False,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.000000,1,0,113803,53.1000,C123,S,True,False,2
4,5,0,3,"Allen, Mr. William Henry",35.000000,0,0,373450,8.0500,NaN,S,False,True,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",27.000000,0,0,211536,13.0000,NaN,S,False,True,2
887,888,1,1,"Graham, Miss. Margaret Edith",19.000000,0,0,112053,30.0000,B42,S,True,False,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",29.699118,1,2,W./C. 6607,23.4500,NaN,S,True,False,2
889,890,1,1,"Behr, Mr. Karl Howell",26.000000,0,0,111369,30.0000,C148,C,False,True,0
890,891,0,3,"Dooley, Mr. Patrick",32.000000,0,0,370376,7.7500,NaN,Q,False,True,1

**4.請你嘗試不同的特徵工程手法，產生可以幫助分析結果的新變數。**

In [ ]:
#裝箱法
df['Age_binned'] = pd.qcut(df['Age'], q=4, labels=False)

In [ ]:
df_train = df.drop(['PassengerId','Ticket','Name','Cabin','Embarked'],axis = 1)
columns_X = set(df_train.columns) - {'Survived'}

train_X = df_train[list(columns_X)]
train_y = df_train[columns_y]


from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score


log = LogisticRegression(random_state=0, max_iter=3000)
scores = cross_val_score(log, train_X, train_y.values.ravel(),cv=5,scoring='accuracy')
print(scores)

[0.77653631 0.78651685 0.78651685 0.78089888 0.82022472]

**Chatgpt**

In [47]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer

# 讀取資料
df = pd.read_csv('https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv')

# 1. 資料中哪些欄位是多餘的
# 我們先檢視資料集
print(df.head())
print(df.info())

# 多餘的欄位
# - PassengerId: 是唯一識別符號，對於預測沒有幫助。
# - Name: 雖然有可能提取一些有用的特徵（如稱呼），但在這個任務中可以忽略。
# - Ticket: 無法提取有意義的特徵。
# - Cabin: 缺失值太多，並且提取有用信息較為困難。

df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace=True)

# 2. 處理有缺失值的欄位
# - Age: 使用中位數填補
# - Embarked: 使用最多的類別填補

imputer_age = SimpleImputer(strategy='median')
df['Age'] = imputer_age.fit_transform(df[['Age']])

imputer_embarked = SimpleImputer(strategy='most_frequent')
df['Embarked'] = imputer_embarked.fit_transform(df[['Embarked']]).ravel()

print(df.isnull().sum())  # 檢查是否還有缺失值

# 3. 處理非數值型欄位
# - Sex: 使用LabelEncoder
# - Embarked: 使用OneHotEncoder

# LabelEncoder
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])

# OneHotEncoder
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

# 4. 特徵工程手法
# - 創建新變數 FamilySize = SibSp + Parch + 1
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

# 準備訓練數據
columns_X = set(df.columns) - {'Survived'}
columns_y = ['Survived']

train_X = df[list(columns_X)]
train_y = df[columns_y]

# 訓練模型並進行交叉驗證
log = LogisticRegression(random_state=0, max_iter=3000)
scores = cross_val_score(log, train_X, train_y.values.ravel(), cv=5, scoring='accuracy')
print("Cross-validation accuracy scores:", scores)
print("Mean accuracy:", scores.mean())
print("Standard deviation:", scores.std())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
Cross-validation accuracy scores: [0.7877095  0.78651685 0.78651685 0.76966292 0.8258427 ]
Mean accuracy: 0.7912497646098802
Standard deviation: 0.018547221505865137